.vscode
.vs
teste
C#_fundamentos\condicionais\bin\
C#_fundamentos\condicionais\obj\
C#_fundamentos\repeticao\bin\
C#_fundamentos\repeticao\obj\
C#_fundamentos\texto\bin\
C#_fundamentos\texto\obj\
C#_fundamentos\variaveisNumericas\bin\
C#_fundamentos\variaveisNumericas\obj\
C#_POO\contaCorrente\bin\
C#_POO\contaCorrente\obj\
C#_POO\mercado\